.purchased-form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

.input {
  width: 50%;
  height: 20px;
  padding: 10px 5px;
  border: 1px solid blue;
  border-radius: 10px;
  margin-bottom: 10px;
  color: black;
}
.button {
  padding: 10px 5px;
  width: 50%;
  border: 1px solid blue;
  border-radius: 10px;
}
